// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Font-awesome
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/brands';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~material-design-iconic-font/dist/css/material-design-iconic-font.css';

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
