.hero-wrap-custom {
    width: 100%;
    height: 100%;
    position: inherit;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    position: relative;
}

@media (max-width: 1199.98px) {
    .hero-wrap-custom {
        background-position: center center !important;
    }
}

.hero-wrap-custom .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    opacity: .75;
    background: #00008B;
    background: -moz-linear-gradient(45deg, #00008B 0%, #FFBA42 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, #00008B), color-stop(100%, #FFBA42));
    background: -webkit-linear-gradient(45deg, #00008B 0%, #FFBA42 100%);
    background: -o-linear-gradient(45deg, #00008B 0%, #FFBA42 100%);
    background: -ms-linear-gradient(45deg, #00008B 0%, #FFBA42 100%);
    background: linear-gradient(45deg, #00008B 0%, #FFBA42 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00008B', endColorstr='#FFBA42', GradientType=1);
}

.author-img {
    width: 100px;
}
