/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/

#contact-page {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    height: 100%;
    font-family: "Poppins", Arial, sans-serif;
}

/*---------------------------------------------*/

#contact-page a {
    font-size: 14px;
    line-height: 1.7;
    color: #666666;
    margin: 0px;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
}

#contact-page a:focus {
    outline: none !important;
}

#contact-page a:hover {
    text-decoration: none;
}

/*---------------------------------------------*/

#contact-page h1, h2, h3, h4, h5, h6 {
    margin: 0px;
}

#contact-page p {
    font-size: 14px;
    line-height: 1.7;
    color: #666666;
    margin: 0px;
}

#contact-page ul, li {
    margin: 0px;
    list-style-type: none;
}

/*---------------------------------------------*/

#contact-page input {
    outline: none;
    border: none;
}

#contact-page textarea {
    outline: none;
    border: none;
}

#contact-page textarea:focus, input:focus {
    border-color: transparent !important;
}

#contact-page input:focus::-webkit-input-placeholder {
    color: transparent;
}

#contact-page input:focus:-moz-placeholder {
    color: transparent;
}

#contact-page input:focus::-moz-placeholder {
    color: transparent;
}

#contact-page input:focus:-ms-input-placeholder {
    color: transparent;
}

#contact-page textarea:focus::-webkit-input-placeholder {
    color: transparent;
}

#contact-page textarea:focus:-moz-placeholder {
    color: transparent;
}

#contact-page textarea:focus::-moz-placeholder {
    color: transparent;
}

#contact-page textarea:focus:-ms-input-placeholder {
    color: transparent;
}

#contact-page input::-webkit-input-placeholder {
    color: #adadad;
}

#contact-page input:-moz-placeholder {
    color: #adadad;
}

#contact-page input::-moz-placeholder {
    color: #adadad;
}

#contact-page input:-ms-input-placeholder {
    color: #adadad;
}

#contact-page textarea::-webkit-input-placeholder {
    color: #adadad;
}

#contact-page textarea:-moz-placeholder {
    color: #adadad;
}

#contact-page textarea::-moz-placeholder {
    color: #adadad;
}

#contact-page textarea:-ms-input-placeholder {
    color: #adadad;
}

/*---------------------------------------------*/

#contact-page button {
    outline: none !important;
    border: none;
    background: transparent;
}

#contact-page button:hover {
    cursor: pointer;
}

#contact-page iframe {
    border: none !important;
}

/*//////////////////////////////////////////////////////////////////
[ Contact ]*/

.container-contact100 {
    width: 100%;
    min-height: 50vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.wrap-contact100 {
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
    max-width: 960px;
    background: #fff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding: 66px 115px 59px 115px;
    position: relative;
    overflow: hidden;
}

/*==================================================================
[ Form ]*/

.contact100-form {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contact100-form-title {
    display: block;
    width: 100%;
    font-size: 30px;
    font-weight: 700;
    color: #333333;
    line-height: 1.2;
    text-transform: uppercase;
    text-align: left;
    padding-bottom: 32px;
}

/*------------------------------------------------------------------
[ Input ]*/

.wrap-input100 {
    width: 100%;
    position: relative;
    background-color: transparent;
    margin-bottom: 35px;
}

.rs1-wrap-input100 {
    width: calc((100% - 30px) / 2);
}

.label-input100 {
    font-size: 14px;
    color: #555555;
    line-height: 1.5;
}

.input100 {
    display: block;
    width: 100%;
    background: #f2f2f2;
    border-radius: 2px;
    font-size: 20px;
    color: #686868;
    line-height: 1.2;
    padding: 0 28px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    margin-top: 10px;
}

/*---------------------------------------------*/

input.input100 {
    height: 62px;
}

textarea.input100 {
    min-height: 162px;
    padding-top: 19px;
    padding-bottom: 13px;
}

.input100:focus {
    background: #e6e6e6;
}

/*------------------------------------------------------------------
[ Button ]*/

.container-contact100-form-btn {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 5px;
}

.wrap-contact100-form-btn {
    display: block;
    position: relative;
    z-index: 1;
    border-radius: 2px;
    overflow: hidden;
}

.contact100-form-bgbtn {
    position: absolute;
    z-index: -1;
    width: 300%;
    height: 100%;
    background: #df2351;
    background: -webkit-linear-gradient(right, #2f91ff, #00c513, #2f91ff, #00c513);
    background: -o-linear-gradient(right, #2f91ff, #00c513, #2f91ff, #00c513);
    background: -moz-linear-gradient(right, #2f91ff, #00c513, #2f91ff, #00c513);
    background: linear-gradient(right, #2f91ff, #00c513, #2f91ff, #00c513);
    top: 0;
    left: -100%;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.contact100-form-btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    min-width: 150px;
    height: 62px;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;
}

.wrap-contact100-form-btn:hover .contact100-form-bgbtn {
    left: 0;
}

/*------------------------------------------------------------------
[ Responsive ]*/

@media (max-width: 992px) {
    .wrap-contact100 {
        padding: 66px 80px 59px 80px;
    }
}

@media (max-width: 768px) {
    .rs1-wrap-input100 {
        width: 100%;
    }
}

@media (max-width: 576px) {
    .wrap-contact100 {
        padding: 66px 15px 59px 15px;
    }
}

/*------------------------------------------------------------------
[ Alert validate ]*/

.validate-input {
    position: relative;
}

.alert-validate::before {
    content: attr(data-validate);
    position: absolute;
    max-width: 70%;
    background-color: #fff;
    border: 1px solid #c80000;
    border-radius: 2px;
    padding: 4px 25px 4px 10px;
    bottom: calc((100% - 34px) / 2);
    -webkit-transform: translateY(50%);
    -moz-transform: translateY(50%);
    -ms-transform: translateY(50%);
    -o-transform: translateY(50%);
    transform: translateY(50%);
    right: 10px;
    pointer-events: none;
    color: #c80000;
    font-size: 13px;
    line-height: 1.4;
    text-align: left;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 0.4s;
    -o-transition: opacity 0.4s;
    -moz-transition: opacity 0.4s;
    transition: opacity 0.4s;
}

.alert-validate::after {
    content: "\f12a";
    display: block;
    position: absolute;
    color: #c80000;
    font-size: 16px;
    bottom: calc((100% - 34px) / 2);
    -webkit-transform: translateY(50%);
    -moz-transform: translateY(50%);
    -ms-transform: translateY(50%);
    -o-transform: translateY(50%);
    transform: translateY(50%);
    right: 18px;
}

.alert-validate:hover:before {
    visibility: visible;
    opacity: 1;
}

@media (max-width: 992px) {
    .alert-validate::before {
        visibility: visible;
        opacity: 1;
    }
}

/*==================================================================
[ Contact more ]*/

.contact100-more {
    display: block;
    max-width: 960px;
    font-size: 20px;
    color: #000;
    line-height: 1.4;
    text-align: center;
    padding: 40px 0 10px 0;
}
