/* ----- Title ----- */

.title-1 {
    text-transform: capitalize;
    font-weight: 400;
    font-size: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
}

/* ----- Section----- */

.section__content {
    position: relative;
    margin: 0 auto;
    z-index: 1;
}

.section__content--p30 {
    padding: 0 30px;
}

@media (max-width: 991px) {
    .section__content--p30 {
        padding: 0;
    }
}

/* ----- Overview ----- */

.overview-wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

@media (max-width: 767px) {
    .overview-wrap {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -moz-box-orient: vertical;
        -moz-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .overview-wrap .button {
        -webkit-box-ordinal-group: 2;
        -webkit-order: 1;
        -moz-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
    }
    .overview-wrap h2 {
        -webkit-box-ordinal-group: 3;
        -webkit-order: 2;
        -moz-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
    }
}

.overview-item {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding: 30px;
    padding-bottom: 0;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
    margin-bottom: 40px;
}

@media (min-width: 992px) and (max-width: 1519px) {
    .overview-item {
        padding-left: 15px;
        padding-right: 15px;
    }
}

.overview-item--c1 {
    background-image: -moz-linear-gradient(90deg, #3f5efb 0%, #fc466b 100%);
    background-image: -webkit-linear-gradient(90deg, #3f5efb 0%, #fc466b 100%);
    background-image: -ms-linear-gradient(90deg, #3f5efb 0%, #fc466b 100%);
    position: relative;
    overflow: hidden;
}

.overview-item--c1 img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    opacity: 0.05;
}

@media (min-width: 676px) and (max-width: 991px) {
    .overview-item--c1 img {
        display: none;
    }
}

@media (max-width: 576px) {
    .overview-item--c1 img {
        display: none;
    }
}

.overview-item--c2 {
    background-image: -moz-linear-gradient(90deg, #11998e 0%, #38ef7d 100%);
    background-image: -webkit-linear-gradient(90deg, #11998e 0%, #38ef7d 100%);
    background-image: -ms-linear-gradient(90deg, #11998e 0%, #38ef7d 100%);
    position: relative;
    overflow: hidden;
}

.overview-item--c2 img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    opacity: 0.05;
}

@media (min-width: 676px) and (max-width: 991px) {
    .overview-item--c2 img {
        display: none;
    }
}

@media (max-width: 576px) {
    .overview-item--c2 img {
        display: none;
    }
}

.overview-item--c3 {
    background-image: -moz-linear-gradient(90deg, #ee0979 0%, #ff6a00 100%);
    background-image: -webkit-linear-gradient(90deg, #ee0979 0%, #ff6a00 100%);
    background-image: -ms-linear-gradient(90deg, #ee0979 0%, #ff6a00 100%);
    position: relative;
    overflow: hidden;
}

.overview-item--c3 img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    opacity: 0.05;
}

@media (min-width: 676px) and (max-width: 991px) {
    .overview-item--c3 img {
        display: none;
    }
}

@media (max-width: 576px) {
    .overview-item--c3 img {
        display: none;
    }
}

.overview-item--c4 {
    background-image: -moz-linear-gradient(90deg, #0000FF 0%, #00FFFF 100%);
    background-image: -webkit-linear-gradient(90deg, #0000FF 0%, #00FFFF 100%);
    background-image: -ms-linear-gradient(90deg, #0000FF 0%, #00FFFF 100%);
    position: relative;
    overflow: hidden;
}

.overview-item--c4 img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    opacity: 0.05;
}

@media (min-width: 676px) and (max-width: 991px) {
    .overview-item--c4 img {
        display: none;
    }
}

@media (max-width: 576px) {
    .overview-item--c4 img {
        display: none;
    }
}

.overview-box .icon {
    display: inline-block;
    vertical-align: top;
    margin-right: 15px;
}

.overview-box .icon i {
    font-size: 60px;
    color: #fff;
}

@media (min-width: 992px) and (max-width: 1199px) {
    .overview-box .icon {
        margin-right: 3px;
    }
    .overview-box .icon i {
        font-size: 30px;
    }
}

@media (max-width: 991px) {
    .overview-box .icon {
        font-size: 46px;
    }
}

.overview-box .text {
    font-weight: 300;
    display: inline-block;
}

.overview-box .text h2 {
    font-weight: 300;
    color: #fff;
    font-size: 36px;
    line-height: 1;
    margin-bottom: 5px;
}

.overview-box .text h4 {
    font-weight: 350;
    color: #fff;
    line-height: 1;
    margin-bottom: 5px;
}

.overview-box .text span {
    font-size: 18px;
    color: rgba(255, 255, 255, 0.6);
}

@media (min-width: 992px) and (max-width: 1199px) {
    .overview-box .text {
        display: inline-block;
    }
    .overview-box .text h2 {
        font-size: 20px;
        margin-bottom: 0;
    }
    .overview-box .text h4 {
        font-size: 20px;
        margin-bottom: 0;
    }
    .overview-box .text span {
        font-size: 14px;
    }
}

@media (max-width: 991px) {
    .overview-box .text h2 {
        font-size: 26px;
    }
    .overview-box .text span {
        font-size: 15px;
    }
}

.overview-chart {
    height: 115px;
    position: relative;
}

.overview-chart-special {
    height: 100px;
    position: relative;
}

@media (min-width: 992px) and (max-width: 1199px) {
    .overview-chart-special {
        height: 96px;
    }
}

@media (max-width: 991px) {
    .overview-chart-special {
        height: 111px;
    }
}

.overview-chart canvas {
    width: 100%;
}

/* ----- Card ----- */

.au-card {
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
    padding: 40px;
    padding-right: 35px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background: #fff;
    overflow: hidden;
}

.au-card--border {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.au-card--border .au-card-title {
    -webkit-border-top-left-radius: 3px;
    -moz-border-radius-topleft: 3px;
    border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topright: 3px;
    border-top-right-radius: 3px;
}

.au-card--border .au-card-title .bg-overlay {
    -webkit-border-top-left-radius: 3px;
    -moz-border-radius-topleft: 3px;
    border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topright: 3px;
    border-top-right-radius: 3px;
}

.au-card-bordered {
    border: 1px solid #e5e5e5;
    background: #fff;
    padding: 40px;
    padding-top: 42px;
    padding-right: 55px;
    margin-bottom: 40px;
}

.au-card--bg-blue {
    background-image: -moz-linear-gradient(90deg, #396afc 0%, #2948ff 100%);
    background-image: -webkit-linear-gradient(90deg, #396afc 0%, #2948ff 100%);
    background-image: -ms-linear-gradient(90deg, #396afc 0%, #2948ff 100%);
}

.au-card-top-countries {
    padding: 40px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-bottom: 29px;
}

.au-card--no-shadow {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.au-card--no-pad {
    padding: 0;
}

.au-card-title {
    position: relative;
    padding: 40px;
    padding-top: 45px;
    padding-bottom: 47px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-border-top-left-radius: 10px;
    -moz-border-radius-topleft: 10px;
    border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topright: 10px;
    border-top-right-radius: 10px;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
}

.au-card-title .bg-overlay {
    -webkit-border-top-left-radius: 10px;
    -moz-border-radius-topleft: 10px;
    border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topright: 10px;
    border-top-right-radius: 10px;
}

.au-card-title h3 {
    position: relative;
    z-index: 2;
    color: #fff;
    font-weight: 400;
}

.au-card-title h3 i {
    color: #fff;
    font-size: 24px;
    margin-right: 12px;
}

/* ----- Charts ----- */

.recent-report {
    padding-bottom: 65px;
    margin-bottom: 60px;
}

/* ----- Table ----- */

.table {
    margin: 0;
}

.table-top-countries tbody td {
    white-space: nowrap;
    font-size: 14px;
    color: #fff;
    padding: 14px 5px;
    border-top: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.table-top-countries tbody tr:last-child td {
    border-bottom: none;
}

.more {
    display: inline-block;
    cursor: pointer;
    width: 30px;
    height: 30px;
    background: #e5e5e5;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    position: relative;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
}

.more i {
    font-size: 20px;
    color: #808080;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.role {
    display: inline-block;
    line-height: 30px;
    font-size: 14px;
    color: #fff;
    padding: 0 15px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-transform: capitalize;
}

.role.admin {
    background: #fa4251;
}

.role.user {
    background: #00b5e9;
}

.role.member {
    background: #57b846;
}

/* ----- amCharts ----- */

.chart-title {
    text-align: center;
}

.chart-title h4 {
    line-height: 40px;
}

.chart-title p {
    line-height: 10px;
    color: grey;
}

@media (max-width: 1199px) {
    .chart-title h4 {
        font-size: 95%;
    }
    .chart-title p {
        font-size: 95%;
    }
}

.chartdiv {
    width: 1000px;
    height: 600px;
    margin: 0 auto;
}

@media (max-width: 1199px) {
    .chartdiv {
        width: 85vw;
    }
}

@media (max-width: 991px) {
    .chartdiv {
        height: 60vw;
    }
}

@media (max-width: 869px) {
    .chartdiv {
        width: 75vw;
        height: 55vw;
    }
}

#loading {
    width: 100%;
    margin: 0 auto;
}

/* ----- vue-good-table ----- */

.table-container {
    position: relative;
}

.blank-page {
    height: 480px;
}

.table-inner {
    padding: 20px;
    margin: 0 auto;
}

.station-title {
    padding: 0px 0px 0px;
}

.station-title button {
    background: gray;
    color: white;
    border: none;
    border-radius: 2px 2px 0px 0px;
    font-size: 16px;
}
